.team_header
  .team_header__logo

= form_for @team do |f|
  .team__name.team_name
    .team__name__form
      .team__name__form__body
        %h1 What's your team called?
        %label Team name
        = f.text_field :name, placeholder: "Please input your team name", class: "team__name__input"
        %p We’ll use this to name your Slack team, which you can always change later.
      .team__name__form__button_container
        .team__name__form__button_container__btn
          %input{type: "button", value: "Continue to invite user →", class: "team_name_button"}

  .team__purpose__form.team_purpose
    .team__purpose__form__body
      %h1 Tell us about your team
      .team__purpose__form__body__use
        %p What will your team use Slack for?
        = f.text_field :purpose, placeholder: "what for use slack?", class: "team__purpose__form__body__use__input"
      .team__purpose__form__body__placeholder
        %p memo
        = f.text_area :memo, placeholder: "memo", class: "team__purpose__form__body__use__input"
    .team__purpose__form__btn
      = f.submit "Continue to Group Name →", class: "team_purpose_button"
