.message_sidebar__direct_container__directs
  = link_to "DIRECT_MESSAGES(#{@user.directs.count})", team_directs_path, class: "message_links"
.message_new
  = link_to "new", new_team_direct_path(@team.id),class: "message_links"
%ul.message_channel__list
  - @directs.each do |direct|
    %li.message_channel__list__item
      = link_to "# #{direct_links}", team_direct_messages_path(params[:team_id], direct.id), class: "message_links"