.header
  .team__purpose__header.name_pass
    .team__purpose__header__logo
  .header__logo.email
  %ul.header__list.list.email
    %li.list__item.email
      = link_to "Product", "/", class: "list__item__text"
    %li.list__item
      = link_to "Pricing", "/", class: "list__item__text"
    %li.list__item
      = link_to "support", "/", class: "list__item__text"
    %li.list__item
      = link_to "user_icon", "/", class: "list__item__text"
    %li.list__item
      = link_to "menu", "/", class: "list__item__text"



= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .main.email
    .main__headline
      %p.main__headline__top Where work 
      %p.main__headline__bottom happends.
      %p.main__headline__message 
        %br *Whatever work means for you, Slack brings all the pieces and 
        %br people you need together so you can actually get things done.
      .main__header__input
        = f.email_field :email, autofocus: true, placeholder: "email adress", class: "main__headline__email"
      %input{type: "submit", value: "Create new team", class: "main__headline__button"}
      %span.main__headline__footer
        Your team already uses Slack? 
        %a{class: "main__headline__footer__link"}
          sign in
        or
        %a{class: "main__headline__footer__link"}
          find your team.
